@use 'helpers' as *

.modal
	position: fixed
	inset: 0
	z-index: 1300
	margin: auto
	width: calc(100% - 40px)
	max-width: 600px
	max-height: calc(100% - 40px)
	padding: 0
	border: none
	overflow: auto
	background-color: #fff
	opacity: 0
	transform: scale(0.96)
	transition: opacity var(--transition-duration), transform var(--transition-duration), overlay var(--transition-duration) allow-discrete, display var(--transition-duration) allow-discrete

	&[open]
		opacity: 1
		transform: scale(1)

		@starting-style
			opacity: 0
			transform: scale(0.96)

	&::backdrop
		background-color: rgb(29 29 29 / 0%)
		backdrop-filter: blur(0)
		transition: background-color var(--transition-duration), backdrop-filter var(--transition-duration), overlay var(--transition-duration) allow-discrete, display var(--transition-duration) allow-discrete

	&[open]::backdrop
		background-color: rgb(29 29 29 / 60%)
		backdrop-filter: blur(5px)

		@starting-style
			background-color: rgb(29 29 29 / 0%)
			backdrop-filter: blur(0)

.modal-body
	position: relative
	padding: 40px 30px

.modal-close
	position: absolute
	z-index: 3
	top: 5px
	right: 5px
	width: 40px
	height: 40px
	cursor: pointer

	&::before,
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 50%
		width: 18px
		height: 1.5px
		background-color: #202225
		transition: background-color 0.3s

	&::before
		transform: translate(-50%, -50%) rotate(45deg)

	&::after
		transform: translate(-50%, -50%) rotate(-45deg)
