<!-- Modal -->
<dialog class="modal" data-popup="popup-request">

	<div class="modal-body">

		<button type="button" class="modal-close" data-js-modal-close aria-label="Закрыть модальное окно"></button>

		<div class="modal-form">

			<div class="modal-head">

				<div class="modal-title">Request a quote</div>

				<div class="modal-descr">Please fill out the form or send an email: <a href="mailto:sales@j4b.org">sales@j4b.org</a></div>

			</div>



		</div>

	</div>

</dialog>

<dialog class="modal" data-popup="popup-thank">

	<div class="modal-body">

		<button type="button" class="modal-close" data-js-modal-close aria-label="Закрыть модальное окно"></button>

		<div class="modal-thank">

			<div class="modal-head">

				<div class="modal-title">Thank You!</div>

				<div class="modal-descr">Your request has been successfully submitted.</div>

			</div>

			<button type="button" data-js-modal-close class="button button--blue">Ok</button>

		</div>

	</div>

</dialog>
<!-- Modal -->
