@use 'helpers' as *

// Document
html.no-scroll,
body.no-scroll
  width: 100%
  max-width: 100%
  overflow: hidden !important

body
  font-family: var(--font-family)
  font-size: 15px
  line-height: 1.35
  color: var(--color-dark)

// Typography
h1,.h1
  font-size: 46px
  line-height: 1.1
  color: inherit
  font-weight: 700

h2,.h2
  font-size: 40px
  line-height: 1.1
  color: inherit
  font-weight: 700

h3,.h3
  font-size: 20px
  line-height: 1.3
  font-weight: 600
  color: inherit

h4,.h4
  font-size: 20px
  line-height: 1.3
  font-weight: 600
  color: inherit

p
  --paragraphMarginBottom: 20px

  margin-block: 0

  &:not(:last-child)
    margin-bottom: var(--paragraphMarginBottom)

// Lists
ul:not([class])
  padding-left: 0
  margin: 12px 0
  display: grid
  gap: 6px

  li
    list-style-type: none
    font-size: 15px
    position: relative
    padding-left: 14px

    &::before
      content: ''
      position: absolute
      z-index: 1
      width: 6px
      height: 6px
      background-color: var(--color-dark)
      left: 0
      top: 7px
      border-radius: 50%

// Layout
main
  position: relative
  z-index: 1

.container
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2)
  margin-inline: auto
  padding-inline: var(--container-padding-x)

// Transitions
svg *
  transition-property: fill, stroke

button,
input
  &::placeholder
    color: var(--color-dark)

a,
button,
label,
input,
textarea,
select,
svg *
  transition-duration: var(--transition-duration)
  color: inherit


@include laptop



@include tablet




@include mobile




@include mobile-s
